.row{
    text-decoration: none;
}
.d-flex justify-content-center{
    text-decoration: none;
}


a{
    text-decoration: none !important;
}
.body{
    background-color:#d0b4cf!important;
}

.bg-acqua{
    background-color: aqua;
}